.empty-text {
  margin-top: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: none;
    }
  }
}
